// Abstracts
@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mixins;
@use 'abstracts/functions' as functions;

// Base
@use 'base/fonts' as fonts;
@use 'base/reset' as reset;
@use 'base/typography' as typography;
@use 'base/responsive' as respons;

// Layout
@use 'layout/header' as header;
@use 'layout/main' as main;
@use 'layout/footer' as footer;
@use 'layout/container' as container;

// Components
@use 'components/button' as button;
@use 'components/card' as card;
@use 'components/form' as form;
@use 'components/nav' as nav;  
@use 'components/menu' as menu;

// Pages
@use 'pages/home' as home;
@use 'pages/about' as about;
@use 'pages/contact' as contact;
@use 'pages/login' as login;
@use 'pages/admin' as admin;
@use 'pages/dashboard' as dashboard;
@use 'pages/project' as project;

// Utilities (opcjonalnie)
// @use 'utilities/helpers' as utils;
