@use "../abstracts/mixins" as mixins;
@use "../abstracts/functions" as functions;

.page-about {
  font-size: var(--font-size-md);
  h1,
  h2,
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
    @include mixins.respond-up(md) {
      text-align: left;
      margin-left: var(--spacing-lg);
    }
  }

  span {
    display: block;
    margin-left: 50px;
    font-size: var(--font-size-sm);
  }

  .about-intro {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
      margin-top: var(--spacing-md);
      padding-inline: functions.spacing(lg);
    }

    .lead {
      font-size: var(--font-size-md);
      text-align: left;

      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
  }
  .about-value {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
      margin-top: var(--spacing-md);
      padding-inline: functions.spacing(lg);
    }

    .feature-list {
      list-style: disc;
      padding-left: 1.2rem;
      margin-left: 0;
      padding-bottom: var(--spacing-xs);

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
  }
  .about-process {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
      margin-top: var(--spacing-md);
      padding-inline: functions.spacing(lg);
    }

    .process-list {
      list-style: decimal;
      padding-left: 1.2rem;
      margin-left: 0;
      padding-bottom: var(--spacing-xs);

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    .note {
      font-style: italic;
      text-align: center;
      margin-top: 5px;

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-md);
      }
      @include mixins.respond-up(lg) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
  .industry-aware {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
      margin-top: var(--spacing-md);
      padding-inline: functions.spacing(lg);
    }
    .industry-aware-list {
      list-style: disc;
      padding-left: 1.2rem;
      margin-left: 0;
      padding-bottom: var(--spacing-xs);

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    .bottom-note {
      font-style: italic;
      text-align: center;
      margin-top: 5px;

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-md);
      }
      @include mixins.respond-up(lg) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
  .about-positioning {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
      margin-top: var(--spacing-md);
      padding-inline: functions.spacing(lg);
    }
  }
  .about-fit {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
      margin-top: var(--spacing-md);
      padding-inline: functions.spacing(lg);
    }

    .feature-list {
      list-style: disc;
      padding-left: 1.2rem;
      margin-left: 0;

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    .cta {
      font-style: italic;
      text-align: center;
      margin-top: var(--spacing-md);

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
}
