@use "../abstracts/mixins" as mixins;
@use "../abstracts/functions" as functions;

.page-about {
  .about-intro {
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .lead {
      text-align: center;
    }
  }
  .about-value {
    .feature-list {
      list-style: disc;
      padding-left: 1.2rem;
      margin-left: 0;

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    h2 {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
      }
    }

    p {
      text-align: center;
      margin-top: var(--spacing-xs);

      @include mixins.respond-up(md) {
        text-align: left;
        margin-top: var(--spacing-md);
      }
    }
  }
  .about-process {
    .process-list {
      list-style: decimal;
      padding-left: 1.2rem;
      margin-left: 0;

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    h2 {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
    .note {
      font-style: italic;
      text-align: center;
      margin-top: 5px;

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-md);
      }
      @include mixins.respond-up(lg) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
  .industry-aware {
    h2 {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
    p {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
    .industry-aware-list {
      list-style: disc;
      padding-left: 1.2rem;
      margin-left: 0;

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    .bottom-note {
      font-style: italic;
      text-align: center;
      margin-top: 5px;

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-md);
      }
      @include mixins.respond-up(lg) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
  .about-positioning {
    h2 {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
    p {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
  .about-fit {
    h2 {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
    p {
      text-align: center;
      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
    .feature-list {
      list-style: disc;
      padding-left: 1.2rem;
      margin-left: 0;

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }
    .cta {
      font-style: italic;
      text-align: center;
      margin-top: var(--spacing-md);

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }
}
