@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;



.page-contact {
  .contact {
    margin-inline: auto;
    background-color: var(--background-section);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);
    max-width: auto;

    @include mixins.respond-up(sm) {
      padding-inline: functions.spacing(lg);
      max-width: 450px;
    }

    display: block;

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  form {
    min-width: 100%;
    padding-bottom: functions.spacing(lg);

    @include mixins.respond-up(sm) {
      min-width: 70%;
    }
    @include mixins.respond-up(md) {
      min-width: 50%;
    }
    @include mixins.respond-up(lg) {
      min-width: 30%;
    }
  }

  input,
  textarea {
    margin-bottom: 1rem;
    width: 100%;
  }
  input {
    min-height: 35px;
  }
  input[type="text"],
  input[type="password"],
  textarea {
    margin-bottom: 1rem;
    width: 100%;
  }

  label {
    display: block;
    margin: 0 0 0.4rem 0;
    font-weight: 600;
  }

  label.remember {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600; // albo normal, jak wolisz
  }

  label.remember input[type="checkbox"] {
    width: auto;
    margin: 0; // gap ogarnia odstęp
  }

  .alert {
    max-width: fit-content;
    padding: var(--spacing-md);
    border-radius: functions.radius(md);
    margin: 0 0 var(--spacing-md) 0;
    border: functions.border-width() solid transparent;
  }

  .alert-success {
    background-color: functions.color(background, alert-success);
    border-color: functions.color(border, alert-success);
    color: functions.color(alert-text, success);
  }

  .alert-error {
    background-color: functions.color(background, alert-error);
    border-color: functions.color(border, alert-error);
    color: functions.color(alert-text, error);
  }

  .alert ul {
    margin: var(--spacing-xs) 0 0 var(--spacing-md);
  }
}
