@use "../abstracts/mixins" as mixins;
@use "../abstracts/functions" as functions;
@use "../abstracts/variables" as vars;

.page-dashboard {
   h2 {
   text-align: center;
   margin-bottom: 1.5rem;
 }
 .lead {
   text-align: center;
 }
}
