@use "../abstracts/mixins" as mixins;
@use "../abstracts/functions" as functions;
@use "../abstracts/variables" as vars;

.page-home {
  font-size: var(--font-size-md);
  h1,
  h2,
  h3 {
    text-align: center;
  }
  span{
    display: block;
    margin-left: 50px;
    font-size: var(--font-size-sm);
  }
  .home-hero {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
        margin-top: var(--spacing-md);
        padding-inline: functions.spacing(lg);
      }

    .lead {
      font-size: var(--font-size-md);
      text-align: center;

      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
  }
  .home-what {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
        margin-top: var(--spacing-md);
        padding-inline: functions.spacing(lg);
      }

    .feature-list {
      list-style: none;
      padding-left: 1.2rem;
      margin-left: 0;

      @include mixins.respond-up(md) {
        margin-left: var(--spacing-lg);
      }
      @include mixins.respond-up(xl) {
        margin-left: var(--spacing-xl);
      }
    }

    .note {
      font-style: italic;
      text-align: center;
      margin-top: var(--spacing-xs);

      @include mixins.respond-up(md) {
        text-align: left;
        margin-left: var(--spacing-md);
      }

      @include mixins.respond-up(lg) {
        text-align: left;
        margin-left: var(--spacing-lg);
      }
    }
  }

  .home-audience {
    background-color: var(--background-section);
    margin-top: var(--spacing-xs);
    padding-inline: functions.spacing(xs);
    border: var(--border-width) solid var(--border-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);

    @include mixins.respond-up(md) {
        margin-top: var(--spacing-md);
        padding-inline: functions.spacing(lg);
      }

    p {
      text-align: justify;
    }

    .cta {
      text-align: center;
      font-style: italic;
      font-weight: var(--font-weight-bold);

      @include mixins.respond-up(md) {
        text-align: left;
      }
    }
  }
}
